
/*.screen-1 {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
  overflow-x: hidden;
} 

.screen-1-wraper{
  height: 100vh;
  max-height: 1600px;
  filter: drop-shadow(-15px 10px 15px #000);
}*/


.one section {
  text-align: center;
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
  color: #000;
}        
.one .section-white {
  display: flex;
  background-color: #FFF;
  background-size: auto 60px;
  background-repeat: repeat-x;
  background-position: center bottom;
  padding-top: 40px;
  padding-bottom: 0px;
}

.one .section-no {
  background-color:#000;
  padding-top: 40px;
  padding-bottom: 40px;
  color:#FFF;
}

.one .section-black {
  display: flex;
  background-color: #000;
  background-size: auto 60px;
  background-repeat: repeat-x;
  background-position: center bottom;
  padding-bottom: 0px;
}



@media screen and (max-width: 1900px) {

}

@media screen and (max-width: 1600px) {
 
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 800px) {

}

@media screen and (max-width: 640px) {
 
}

@media screen and (max-width: 360px) {
 
}