
.screen3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.eleven .section {
  text-align: center;
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
  color: #000;
}        
.eleven .section-white-t {
  padding-top: 30px;
}
.eleven .section-white-b {
  padding-top: 40px;
  padding-bottom: 30px;
}
.eleven .section-color {
  background-color: #337AB7;
  padding-top: 40px;
  color: #FFF;
}
.eleven .separator-white {
  background-color: #FFF;
  font: 0/0 a;
}
.eleven .separator-color {
  background-color: #337AB7;
  font: 0/0 a;
}


@media screen and (max-width: 1920px) {
 
}

@media screen and (max-width: 1600px) {
 
}



@media screen and (max-width: 640px) {

}


@media screen and (max-width: 320px) {
 
}








