.App {
  overflow-x: hidden;
  
}

/*#root{
  --main-width: 100vw
}*/


/** временная сетка для верстки*/
/*.App::after {
  content: "";
  position: absolute;
  z-index: 1000;
  top: 0;
  bottom: 0;
  opacity: 0.15;
  left: 2.0833333333%;
  right: 2.0833333333%;
  background: repeating-linear-gradient(90deg, #00f 0, #00f 8.5326086957%, transparent 8.5326086957%, transparent 10.1630434783%);
  pointer-events: none;
}*/
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


* {
  box-sizing: border-box;
	margin: 0;
	padding: 0;
  /*border: solid 1px #000;*/
}

ul, li {
	list-style: none;
}

input {
	border: none;
}

a{
  text-decoration: none;
}

a, h1, h2, h3, div, p, span {
  font-family: Benzin-Medium, 'Source Sans Pro';
}


